{{- /* chezmoi config — per-machine settings */ -}}

[data]
{{- if eq .chezmoi.os "darwin" }}
    onepasswordAgent = "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
    onepasswordAgent = "~/.1password/agent.sock"
{{- end }}
