{{- /* chezmoi config — per-machine settings */ -}}

[data]
{{- if eq .chezmoi.os "darwin" }}
    onepasswordAgent = "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
    onepasswordAgent = "~/.1password/agent.sock"
{{- end }}

[age]
{{- if and (hasKey . "security") (hasKey .security "chezmoi_age_key_file") }}
    identity = "{{ .security.chezmoi_age_key_file }}"
{{- else }}
    identity = "~/.config/chezmoi/key.txt.age"
{{- end }}
