Host *
    IdentityAgent "{{ includeTemplate "onepassword-agent.tmpl" . | trim }}"
{{- if eq .chezmoi.os "darwin" }}
    AddKeysToAgent no
    UseKeychain no
{{- end }}

Host github.com
    HostName github.com
    User git
    IdentitiesOnly yes
    PreferredAuthentications publickey

Host fx
    User xavier
    RequestTTY yes
    RemoteCommand tmux new-session -A -s main
