Host *
    IdentityAgent "{{ includeTemplate "onepassword-agent.tmpl" . | trim }}"

Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/id_ed25519
    PreferredAuthentications publickey

Host fx
    User xavier
    RequestTTY yes
    RemoteCommand tmux new-session -A -s main
