{{- $profileName := includeTemplate "profile-name.tmpl" . | trim -}}
{{- $profile := index .profiles $profileName -}}
{{- if hasKey $profile "onepassword_ssh_agent" -}}
{{- if $profile.onepassword_ssh_agent -}}true{{- else -}}false{{- end -}}
{{- else -}}
false
{{- end -}}
