PATH={{ includeTemplate "dev-env-policy.tmpl" . | trim }}
{{- if eq (includeTemplate "onepassword-enabled.tmpl" . | trim) "true" }}
SSH_AUTH_SOCK={{ includeTemplate "onepassword-agent.tmpl" . | trim }}
{{- end }}
